<VirtualHost *:80>
    DocumentRoot /srv/www/web
    ServerName www.vbox.local
    ServerAlias vbox.local

    <Directory /srv/www/web>
        AllowOverride None
        Options FollowSymLinks
 
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ app.php [QSA,L]
 
    </Directory>
</VirtualHost>