<VirtualHost *:80>
  ServerName www.webgrind.vbox.local
  ServerAlias webgrind.vbox.local

  ServerAdmin admin@localhost

  DocumentRoot /srv/webgrind
  <Directory /srv/webgrind>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>
  ErrorLog /var/log/apache2/webgrind_error.log
  LogLevel warn
  CustomLog /var/log/apache2/webgrind_access.log combined
  ServerSignature Off
</VirtualHost>
